body{
    background-color: rgb(216, 235, 235);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-color: forestgreen;
    font-size: 2rem;
    border:7px solid white
}

section{
    padding: 1;
    margin: 12px;
    border: 5px solid whitesmoke;

}

#projects
{border:3px solid rgb(11, 145, 42);
background-color: antiquewhite;}
 
#about
{border: 3px solid rgb(11, 145, 42);
background-color: antiquewhite;}

#CONTACT
{border: 3px solid rgb(11, 145, 42);
background-color: antiquewhite;;}

#projects_list{
    background-color: aliceblue;
    font-size: 3rem;
    list-style: none;
}

#placeholder{
    width:35%;
    height:45%;
    border: 5px solid whitesmoke;

}

ol{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;


}

li{
    border:1px solid rgb(50, 116, 8);
    margin:2px;
    padding: 20px;
}
